body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

/* Diseño del Navbar */
.navbar {
  background: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #ddd;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.navbar .active {
  font-weight: bold;
}

.container {
  padding: 30px;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* Diseñod de botones */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background: #3b82f6;
  color: white;
}

.success {
  background: #22c55e;
  color: white;
}

.danger {
  background: #ef4444;
  color: white;
}

.chart-placeholder {
  background: #ffffff;
  border-radius: 10px;
  padding: 40px;
  margin: 20px auto;
  width: 60%;
  border: 1px solid #ddd;
}

.btn-filtro {
  margin: 4px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.btn-secundario {
  background: white;
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* Diseño de las Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.category.red { background: #f8caca; }
.category.green { background: #c9e8c9; }
.category.yellow { background: #f1dfc2; }
.category.purple { background: #d6d4f3; }

/* Diseño del Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal-content input {
  width: 100%;
  padding: 8px 1px 8px 1px;
  margin: 10px 0;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}
/*Diseño modal de Excel y PDF*/
.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 280px;
}